@charset "UTF-8";

/* Estilo do cabeçalho */

header {
    padding: 20px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: inline-block;
    color: var(--linksHeader);
    text-decoration: none;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: var(--corTextos);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}