@charset "UTF-8";

/* estilo do rodapé */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer p i {
    color: var(--destaque);
    font-size: 22px;
}

footer .line-footer p a {
    color: var(--corTextos);
    text-decoration: none;
}

.borda {
    border-top: 3px solid var(--destaque);
}
